.register__page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: $bgLight;
  font-family: $rhd;
  overflow: hidden;
  .bg-small-screen {
    display: none;
  }

  .container {
    background: $w;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    .register__wrapper {
      .left,
      .right {
        padding: 0;
        width: 100%;
      }

      .left {
        overflow: hidden;
        max-height: 600px;
        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: 100%;
        }
      }

      .right {
        padding: 20px 60px;
        background: $w;

        .logo {
          text-align: center;
          .logo-icon {
            display: inline-block;
            background: url('../../assets//logo.png');
            width: 100px;
            height: 60px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        h2 {
          font-size: 20px;
          text-align: center;
          padding-bottom: 20px;

          .brand-name {
            color: $bgLight;
          }
        }

        // Tombol persis di bawah form
        .register-button {
          background: $bgLight;
          border: none;
          padding: 8px 25px;
          font-size: 18px;
          font-weight: 500;
          color: $textDark;
          border-radius: 25px;
          color: $w;
        }

        //Link di pesan paling bawah
        .register__message {
          text-align: center;
          width: 80%;
          margin: 20px auto;
          button {
            color: $bgLight;
            background: none;
            outline: none;
            border: none;
            font-weight: 500;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .register__page {
    .container .register__wrapper .right {
      padding: 20px 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .register__page {
    overflow: hidden;
    padding: 30px;
    .bg-small-screen {
      display: block;
      width: 100%;
      min-height: 650px;
      height: 100vh;
      position: absolute;
      object-position: center;
      object-fit: cover;
    }
    .container {
      .register__wrapper {
        .left {
          display: none;
        }

        .right {
          box-shadow: rgba(0, 0, 0, 0.25) 0px -25px 50px -12px;
        }
      }
    }
  }
}
